<div class="container">
  <div class="row">
    <div class="span3 bs-docs-sidebar">
      <ul class="nav nav-list bs-docs-sidenav affix">
      	<!-- make sure href is unique and matches each id below -->
      	<li ng-class="{active:isSidebarActive('1')}"><a href="about#1"><i class="icon-chevron-right"></i>Exposure Defined</a></li>
      	<li ng-class="{active:isSidebarActive('2')}"><a href="about#2"><i class="icon-chevron-right"></i>Managing Exposure is Difficult</a></li>
      	<li ng-class="{active:isSidebarActive('3')}"><a href="about#3"><i class="icon-chevron-right"></i>The Dangers of Exposure</a></li>
        <li ng-class="{active:isSidebarActive('4')}"><a href="about#4"><i class="icon-chevron-right"></i>Preventing Exposure with SXProXimity</a></li>
        <li ng-class="{active:isSidebarActive('5')}"><a href="about#5"><i class="icon-chevron-right"></i>Unique SXProXimity Technology</a></li>

      </ul>
    </div>
    <div class="span9">
    	<div id="1">

    		<h2>Exposure Defined</h2>
        <img src="/img/logo.png" class="pull-right"/>
    		<p class="lead"></p>
    		<dl>
			  <!-- <dt>How does one get exposed?</dt> -->
			  <dd>Simply put, Exposure is the condition of being exposed.  In terms of social media, this occurs from the accumulation of small pieces of information over multiple outlets that can be connected to provide more information than the user intended.  Hackers, prospective employers, criminals and child predators can acquire a disturbing amount of information about a person from these small pieces of information, which have been freely distributed on social media outlets.  SXProXimity classifies exposure based on what is being exposed about the user: Who they are, What they are doing and Where they are located. </dd>
			  <dd></dd>
			</dl>

    	</div>

    	<div id="2">
    		<!-- <img src="/img/logo.png" class="pull-right"/> -->
    		<h2>Managing Exposure is Difficult</h2>
    		<dl>
			  <dd>Social media is now ubiquitous; everyone from pre-teens to grandparents are using facebook, twitter, tumblr and many others to keep in touch with friends and family, promote their products and gather information.  These posts have two attributes that make them particularly difficult to manage: a global audience can observe them and they are effectively permanent.  Once a post catches the interest of an unwanted observer, this observer can find other posts and start making connections.<br/> <br/> </dd>
			  <dd>It is practically impossible for a person to keep track of everything that they have posted over several years and multiple outlets without a tool built for this purpose.  Privacy settings are inadequate for this purpose.</dd>

			</dl>
    	</div>

    	<div id="3">
    		<!-- <img src="/img/logo.png" class="pull-right"/> -->
    		<h2>The Dangers of Exposure</h2>
    		<dl>
    		  <dt>Professional Consequences:</dt>
			  <dd>70% of US job recruiters have rejected candidates based on their online reputations.<sup>[2]</sup></dd>
			  <dd>10% of companies monitor social networking sites and blogs to track content about the company.</dd>
			  <dd>38% of college admissions officers found something online that had a negative impact on their evaluation of a student.</dd>

			  <dt>Community Consequences:</dt>
			  <dd>Friends, colleagues and officials can uncover embarrassing or compromising details.</dd>
			  <dd>Content submitted anonymously can be connected to you.</dd>
			  <dd>Information can be used to discredit you at PTA, HOA and youth activities.</dd>

			  <dt>Criminal Consequences:</dt>
			  <dd>43% of teenagers have been victims of cyber bullying.<br/>
			  	<span class="indent"></span>1 in 10 cyber bullying victims tell a parent.<br/>
			  	<span class="indent"></span>Bullying victims are between 2 and 9 times more likely to consider suicide.</dd>
			  <dd>Online predators use many websites to find victims.<br/>
			  	<span class="indent"></span>Know kids current interests.<br/>
			  	<span class="indent"></span>Slowly introduce sexual content.<br/>
			  	<span class="indent"></span>Eventually attempt to meet child.
			  </dd>

			</dl>
    	</div>

      <div id="4">
        <!-- <img src="/img/logo.png" class="pull-right"/> -->
        <h2>Preventing Exposure with SXProXimity</h2>
        <dl>
          <dt>Analyzes current Exposure</dt>
        <dd>Proximity combines advanced Natural Language Processing with an Expert System to analyze a user's complete history on the most popular social media outlets.  When connections are found, they are categorized and presented to the user in a manner that is easy to understand.  The posts are detailed for the user who will be able to delete the posts and refrain from making similar posts in the future.<br/> <br/></dd>

        <dd>Many users are cautious with their facebook accounts because this is frequently used to communicate directly with friends and family.  They may not be aware that posts that they have made on other social media sites can put their facebook account at risk of being hacked.</dd>


      </dl>
      </div>

      <div id="5">
        <!-- <img src="/img/logo.png" class="pull-right"/> -->
        <h2>Unique SXProXimity Technology</h2>
        <dl>
          <dt>Best of breed efficacy.</dt>
        <dd>NASA created artificial intelligence system</dd>
        <dd>Natural Language Processing platform.</dd>
        <dd>Multiple complementary reasoning.</dd>
        <dd>Processing performed locally on iPhone.</dd>
        <dd>All personal data stays on your iPhone.</dd>


      </dl>
      </div>

      <div class="sources">
        <div>
          <sup>[2]</sup>
          <a href="http://www.bullyingstatistics.org/content/bullying-and-suicide.html" target="_blank">http://www.bullyingstatistics.org/content/bullying-and-suicide.html</a>
        </div>
      </div>


    </div>
  </div>
</div>