<div class="container">
  <div class="row">
    <div class="span3 bs-docs-sidebar">
      <ul class="nav nav-list bs-docs-sidenav affix">
      	<!-- make sure href is unique and matches each id below -->
      	<li ng-class="{active:isSidebarActive('1')}"><a href="#1"><i class="icon-chevron-right"></i>Exposure Defined</a></li>
      	<li ng-class="{active:isSidebarActive('2')}"><a href="#2"><i class="icon-chevron-right"></i>Managing Exposure is Difficult</a></li>
      	<li ng-class="{active:isSidebarActive('3')}"><a href="#3"><i class="icon-chevron-right"></i>The Dangers of Exposure</a></li>
      </ul>
    </div>
    <div class="span9">
    	<div id="1">
    		
    		<h2>Exposure Defined</h2>
        <img src="/img/logo.png" class="pull-right"/>
    		<p class="lead"></p>
    		<dl>
			  <dt>How does one get exposed?</dt>
			  <dd>Small pieces of information posted to social media frequently. Many small pieces of posted information can add up to large amounts of exposure.</dd>
			  <dd></dd>
			</dl>

    	</div>

    	<div id="2">
    		<!-- <img src="/img/logo.png" class="pull-right"/> -->
    		<h2>Managing Exposure is Difficult</h2>
    		<dl>
			  <dd>Social Media is now ubiquitous.</dd>
			  <dd>Posted information is effectively permanent.</dd>
			  <dd>Posted information has a global audience.</dd>
			  <dd>Privacy settings are inadequate to ensure protection.</dd>
			  <dd>A surprising and disturbing amount of personal information can be gleaned form the sum total of small pieces.</dd>
			</dl>
    	</div>

    	<div id="3">
    		<!-- <img src="/img/logo.png" class="pull-right"/> -->
    		<h2>The Dangers of Exposure</h2>
    		<dl>
    		  <dt>Professional</dt>
			  <dd>70% of US Job recruiters have rejected candidates based on their online reputations.</dd>
			  <dd>10% of companies monitor social networking sites and blogs to track content about the company.</dd>
			  <dd>38% of college admissions officers found something online that had a negative impact on their evaluation of a student.</dd>

			  <dt>Community</dt>
			  <dd>Friends, colleagues, and officials can uncover embarrassing or compromising details.</dd>
			  <dd>Content submitted anonymously can be connected to you.</dd>
			  <dd>Information can be used to discredit you at PTA, HOA, and youth activities.</dd>

			  <dt>Criminal</dt>
			  <dd>43% of teenagers have been victims of cyber bullying.<br/>
			  	<span class="indent"></span>1 in 10 cyber bullying victims tell a parent.<br/>
			  	<span class="indent"></span>Bullying victims are between 2 and 9 times more likely to consider suicide</dd>
			  <dd>Online predators use many websites to find victims.<br/>
			  	<span class="indent"></span>Know kids current interests.<br/>
			  	<span class="indent"></span>Slowly introduce sexual content<br/>
			  	<span class="indent"></span>Eventually attempt to meet child
			  </dd>
			  
			</dl>
    	</div>
      
    </div>
  </div>
</div>