<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="span4">
    <img class="img-rounded" src="/img/isolated.png">

    <h2>Take Control </h2>

    <p>Years of social media use can result in a large amounts of unintended exposure that can be connected to find out who you are, what you are doing and where you are doing it.  SXProximity is the tool you need to protect your family from becoming a target of cyber-bullies, stalkers, and identity thieves. </p>

    <p><a class="btn" ng-click="changeRoute('/about')">Learn more &raquo;</a></p>
  </div>
  <!-- /.span4 -->
  <div class="span4">
    <img class="img-rounded" src="/img/isolated.png">

    <h2>Next Generation Privacy</h2>

    <p>SXProXimity provides privacy protection is ways no other product can.  By analyzing connections between multiple social media outlets, it will show you where you have exposed private information. Removing these connctions allows you to keep your private information secure.</p>

    <p><a class="btn" ng-click="changeRoute('/about')">Learn more &raquo;</a></p>
  </div>
  <!-- /.span4 -->
  <div class="span4">
    <!--<img class="img-circle" src="http://placehold.it/140x140">-->

    <h2>@SXProXimity</h2>

    <a class="twitter-timeline" href="https://twitter.com/SXProXimity" data-widget-id="343794615444443137">Tweets by @SXProXimity</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


  </div>
  <!-- /.span4 -->
</div>
<!-- /.row -->


<!-- START THE FEATURETTES -->

<!-- <hr class="featurette-divider">

<div class="featurette">
  <img class="featurette-image pull-right" src="/img/browser-icon-chrome.png">

  <h2 class="featurette-heading">First featurette heading. <span class="muted">It'll blow your mind.</span></h2>

  <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
    Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
</div>

<hr class="featurette-divider">

<div class="featurette">
  <img class="featurette-image pull-left" src="/img/browser-icon-firefox.png">

  <h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">See for yourself.</span></h2>

  <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
    Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
</div>

<hr class="featurette-divider">

<div class="featurette">
  <img class="featurette-image pull-right" src="/img/browser-icon-safari.png">

  <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>

  <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
    Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
</div>

<hr class="featurette-divider"> -->

<!-- /END THE FEATURETTES -->

